openapi: 3.0.2
info:
  version: 1.0.0
  title: Avanor Payment Gateway API
  termsOfService: https://avanor.tech/terms
  contact:
    url: https://api.avanor.tech/gateway/v1/
    name: Avanor Support
  description: |-
    ![Avanor Logo](/assets/m5/images/m5-logo.png)

    ## Description

    Using this API, you can interact with Avanor payment platform: accept payments, make payments and perform other operations supported by the platform.

    API runs over HTTP(S) protocol and uses JSON format to exchange data.

    All API requests must use `UTF-8` encoding and specify the `Content-Type: application/json` header. Each request must be signed, the signature generation process is described below, in the **Request signature** section.

    We use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard as the date and time formats, if the time zone is not specified, then [UTC+03:00](https://en.wikipedia.org/wiki/Time_zone) is assumed.


    ## API changes

    To ensure that our API improvements do not break your integration, please consider the following list of backward compatible changes that can occur without increasing your Avanor API version number.

    <div class="success">
    <p>We consider the following changes to our services to be backward-compatible:</p>

    * Adding new optional request parameters to existing API methods
    * Adding new fields to existing API responses (disregarding nullability)
    * Changing the order of fields in existing API responses
    * Adding new error codes
    * Adding new optional HTTP request headers
    * Adding new HTTP response headers
    * Adding new types of callback notifications
    * Changing the order of fields in callback notifications
    * Adding new fields in callback notification (while complying with the request signing rules)
    </div>

    ## Request signature

    <SecurityDefinitions />
servers:
  - url: https://api.avanor.tech/gateway/v1
    description: The production API server
  - url: https://test.avanor.tech/gateway/v1
    description: The test API server
tags:
  - name: invoice-create
    x-displayName: Invoice issue (payment creation)
    description: |
      ### Invoicing procedure

      `Single-step payment` is a type of payment in which a single request [invoice/create](#operation/post-invoice-create) is immediately blocking and withdrawing funds.

      `Two-step payment` is a type of payment when funds are withdrawn in two steps.
      *You can check which payment ways support two-stage payment with the manager.*
      The first request [invoice/hold](#operation/post-invoice-hold) is used to hold (block) funds on the client's account.
      The second request [invoice/charge](#operation/post-invoice-charge) initiates the withdrawal.
      If you want to cancel a previously held payment, then cancel it using the [invoice/unhold](#operation/post-invoice-unhold) method. The money will be returned to the payer.

      ### Single-step payment
      ![Invoice Flow Diagram](assets/common/images/en/invoice-flow.v1.png)

      1. User generates an order on the shop's website;

      2. Shop sends a request to pre-calculate the invoice and get additional parameters [invoice/try](#operation/post-invoice-try);

      3. When receiving `result: true`, verify the availability of additional information in `add_ons_config`, if present, it is necessary to pass additional parameters in the invoice request. When you get `result: false`, you need to analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks). If the `error code` is fatal, then communication with our API is over.

      4. After verifying [invoice/try](#operation/post-invoice-try), the shop sends an invoice request [invoice/create](#operation/post-invoice-create), specifying the required parameters and additional information from `add_ons_config` (if it is required for the specified payment direction);

      5. The response returns information with the invoice and data to be sent by the specified method to the specified URL for making or charging the payment. It is necessary to send the user to make a payment. In case `result: false`, you need to analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks). If the `error code` is fatal, then communication with our API is over, it is necessary to inform the user that the payment was not created.

      6. After the payment is made or charged by the user, the Avanor system [sends a notification](#tag/callbacks) to the URL of interaction with the shop, containing payment information, for more information, see [here](#operation/post-invoice-create);

      7. After receiving the charge, the payment is considered successfully completed.

      ### Two-step payment

      *Most often, a two-stage payment is used for payments by bank cards.*

      ![Invoice Two Stage Flow Diagram](assets/common/images/en/invoice-two-stage-flow.v1.png)

      1. User generates an order on the shop's website;

      2. Shop sends a request for a preliminary calculation of the issued invoice and receiving additional parameters [invoice/try](#operation/post-invoice-try);

      3. When receiving `result: true`, the availability of additional information in `add_ons_config` is checked, if present, additional parameters should be passed in the invoice request. When you get `result: false`, you need to analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks). If the `error code` is fatal, then communication with our API is over.

      4. After verification [invoice/try](#operation/post-invoice-try) shop sends invoice request [invoice/hold](#operation/post-invoice-hold), specifying the required parameters and additional information from `add_ons_config` (if it is required for the specified payment way);

      5. The response returns information with the invoice issued and data to be sent by the specified method to the specified URL for making or charging the payment. It is necessary to refer the user to make the payment. In case `result: false`, you need to analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks). If the `error code` is fatal, then communication with our API is over, it is necessary to inform the user that the payment was not created.

      6. After payment is completed by the user, the Avanor system [sends a notification](#tag/callbacks) to the shop's interaction URL, with information about the blocking of funds;

      7. After the funds are blocked on the client's account, you can charge the payment [invoice/charge](#operation/post-invoice-charge) or cancel the holding [invoice/unhold](#operation/post-invoice-unhold);

      8. The response returns information with the result of charge (sometimes the payment status may not be final, then you should wait for the notification);

      9. Avanor system [will send a notification](#tag/callbacks) to the URL of the interaction of the shop with the final status regarding the confirmation of funds withdrawal.

      ### Ensuring payments idempotency

      <div class="warning">
      The system has duplication protection for invoice creation, <code>shop_order_id</code> should be unique within a single shop.
      </div>
  - name: invoice-refund
    x-displayName: Refunds
    description: |
      The refund of the paid invoice can be full or partial.

      * In case of a full refund, you refund the successfully paid payment in full.
      * In case of a partial refund - a part of the payment amount, for example, if you want to refund a part of the purchase.

      After confirmation of the refund by the payment system, the Avanor system [will send a notification](#tag/callbacks) with details
      of refund to the URL transferred in the request when creating the refund. A detailed description of the notification format
      is described [here](#section/Refund-notification-example).

      Please note that if you receive `result: false` in response in case of a synchronous response to a request, this means that
      you need to analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks). If the `error code` is fatal, then the refund transaction will not be created (it will either not be created at all if basic checks
      have not passed, or it will be created with the immediate status `FAILED`). In this case, communication with our API is over.

      If in case of a synchronous response to a request in the response you received `result: true`, this means that you need to check the status
      of the refund transaction in the response body:
      it can be final (`SUCCESS`, `FAILED`), and then communication with the API is over, or it can be `WAITING` — then
      you have to wait for some time for a [server notification](#tag/callbacks) from us with the final status.

      <div class="success">
      Refunds are made in the currency of the paid invoice, under which the refund transaction is carried out.
      </div>

      <div class="warning">
      Check with the manager for available refund ways for specific payment methods.
      </div>
  - name: callbacks
    x-displayName: Interaction format
    description: |
      ### Issued invoice notice after payment or refund

      After changing the payment status or returning to one of the final ones, the Avanor system sends a notification to the shop to the URL specified in the shop settings or in the request body (if specified in the description of the request parameters).

      <div class="warning">
      <p>To successfully receive server-side notifications, please make sure that your server receiving HTTP requests from us is configured according to the current security standards described on <a href="https://cheatsheetseries.owasp.org/cheatsheets/Transport_Layer_Protection_Cheat_Sheet.html">https://cheatsheetseries.owasp.org/cheatsheets/Transport_Layer_Protection_Cheat_Sheet.html</a></p>
      <p>Pay special attention to the TLS ciphers you support.</p>
      </div>

      Notifications for payments and refunds are delivered to one callback URL. You can distinguish notifications by the value of the GET parameter named `type` in the URL from which you received the notification.
      Possible values of `type`:
      * `invoice` - payment notification
      * `refund` - refund notification

      Server notifications are sent from the following IP addresses:

      |IP addresses|
      |-|
      |35.198.100.222|
      |35.198.175.25|

      HTTP protocol is used to send the notification:

      * Method: `POST`
      * Format: `Content-Type: application/json`

      <div class="success">
      <p>If necessary, the support service can enable an alternative notification format: <code>Content-Type: application/x-www-form-urlencoded</code>, in this case, all the transmitted parameters will have a string representation.</p>
      </div>

      <div class="attention">
      <p>It is <strong>necessary</strong> to check the values from the notification with the values in the invoice, and <strong>to check</strong> signature in the notification.</p>
      <p>The signature is generated using the same algorithm as when issuing the invoice.</p>
      <p>All the not-null and non-empty parameters present in the notification are involved in the signature validation, including zero values. At the same time, <code>null</code> values and empty strings are not involved in signature validation and are excluded.</p>
      </div>

      <p>Consider building your system using forward compatibility strategy to be ready to handle new parameters in the server notifications without need to upgrade your own system.</p>

      ### Expected response

      If the notice is received and processed correctly, it is necessary to return the status `200` and the message body `OK` (`text/plain`) to the `HTTP` response. Otherwise, notices will be sent again, with an increasing interval, including only 25 attempts, the last one at the end of the day.

      ## Payment notification example

      <SchemaDefinition schemaRef="#/components/schemas/InvoiceCallBack" />

      ## Refund notification example

      <SchemaDefinition schemaRef="#/components/schemas/RefundCallBack" />

      ## Callback signature verification

      Use the same signature algorithm as for API requests (see **Request signature** above). Include all non-null, non-empty notification parameters except `sign`; sort keys alphabetically, join values with `:`, append the shop secret key, and compare the SHA-256 hex digest with the `sign` field.
  - name: invoice-recurrent
    x-displayName: Recurrent invoice
    description: |
      <div class="attention">This feature is available only after approval by the manager.</div>

      You can withdraw funds regularly from the payment instrument of the buyer without repeated entry of details and without participation of the payer to initiate the next payment. With such way of funds withdrawal the user should only confirm the first payment or linking of the payment instrument, all subsequent payments will be made without his/her participation.

      To create the first payment in the chain and to generate the payment token, pass `issue_payment_token: true` in [invoice/create](#operation/post-invoice-create) or [invoice/hold](#operation/post-invoice-hold).

      You will then receive a [notification](#tag/callbacks) with `payment_token` inside `ps_data`. Save that token for subsequent charges.

      <div class="warning">Parameter <strong>payment_token</strong> is sent only after a successful transaction.</div>

      For each following payment, submit `payment_token: "<payment token>"` in [invoice/create](#operation/post-invoice-create). The response may return `method: null` and `url: null` when no redirect to the payment page is required; the final result arrives via [notification](#tag/callbacks).
  - name: invoice-statuses
    x-displayName: Invoice statuses
    description: |
      List of possible statuses of the created invoice.

      | Numerical identifier | Description                                          | Final     |
      |:-----:|---------------------------------------------------------------------|:---------:|
      |  1    | Payment request has been created                                    | &minus;   |
      |  2    | Payment is awaiting user action                                     | &minus;   |
      |  3    | Payment system has failed to create the payment                     | &minus;   |
      |  4    | Payment has been successful                                         | &plus;    |
      |  5    | Payment system has failed to receive a payment notice               | &minus;   |
      |  6    | Avanor payment system has rejected the operation               | &plus;    |
      |  8    | Funds for the invoice are withheld (held) by the payment system     | &minus;   |
  - name: withdraw-create
    x-displayName: Payout creation
    description: |
      ### Process of shop payouts generation is as follows:

      ![Withdraw Flow Diagram](assets/common/images/en/withdraw-flow.v1.png)

      1. Shop executes a request for a preliminary calculation and receiving additional parameters for further creation of the payout using the method [withdraw/try](#operation/post-withdraw-try);

      2. If `result: true`, the shop sends request for a preliminary check of the existence and possibility of adding funds to the account [check_account](#operation/post-withdraw-check-account), to the specified payment way (if necessary, specify additional parameters obtained from the previous request from the `account_info_config` field);

      3. If `result: true`, verify availability of additional information in the `account_info` field, if available, it is necessary to pass additional parameters in the payout creation request. When getting `result: false`, analyse the error code in the `error_code` field (see [description of error codes](#tag/errors-list)). If the `error code` is not fatal, then you need to start requesting the status of the transaction after a certain time (for 2 hours at 30-second intervals). If the `error code` is fatal the communication with our API is over.

      4. Shop submits a request for payout creation [withdraw/create](#operation/post-withdraw-create), specifying the required parameters and additional information from `account_info` (if it is required for the specified payment way);

      5. The response returns information with the generated payout request and indicating the amounts and the payout ID. In this case, the part of the balance of the shop from which the payout is made is frozen until the final payout status.

      6. After payout creation, it is necessary to make a request to get the status of the created payout [withdraw/status](/#operation/post-withdraw-status) or [withdraw/shop_payment_status](/#operation/post-withdraw-shop-payment-status), before receiving the final status.

      <div class="attention">
      Status requests are recommended to be made at 30-second intervals.
      </div>

      7. After final status is received, the payout is considered completed, and the funds are debited from the shop's balance (or returned to the balance if the payout was not completed).

      ### Guidelines for creation and verification of payout requests

      If you received `result: true` after creating the payout, you should immediately check the `data.status` field, perhaps there will already be a final [status](#tag/withdraw-statuses), for example `6 (Rejected)` and in this case, you do not need to make a request for the payout status.

      If you receive the `Read timeout` error at the payout creation request, then you need to make a status request by the shop's payout number [withdraw/shop_payment_status](#operation/post-withdraw-shop-payment-status) and if the response returns an error stating the absence of such a payout, you can repeat the request to create a payout. If the payout status is returned in the response, then it means that it was created and you need to focus on this status.

      Reason for payout rejection ([getting status 6](#tag/withdraw-statuses)) can be clarified through the support service <a href="mailto:support@avanor.tech">support@avanor.tech</a>.

      ### Securing payouts idempotency

      <div class="warning">
      System has duplication protection for payouts, <code>shop_payment_id</code> must be unique within a single shop.
      </div>
  - name: withdraw-statuses
    x-displayName: Payout statuses
    description: |
      If the payout has been successfully created, the response will contain a unique payment identifier and its status.

      The status can be final and non-final, for non-final status, you must make a status request before receiving the final status.

      | Numerical identifier | Description                        | Final   |
      |:-----:|---------------------------------------------------|:--------:|
      |  1    | Payout has been created, awaits processing        | &minus; |
      |  3    | Sent to the payment system                        | &minus; |
      |  4    | Payout error on the part of the payment system    | &minus; |
      |  5    | Successfully completed                            | &plus;  |
      |  6    | Rejected by the payment system                    | &plus;  |
      |  9    | Network error on the part of the payment system   | &minus; |
  - name: other-shop-methods
    x-displayName: Other shop methods
    description: |
      ### Other methods available for the shop
  - name: errors-list
    x-displayName: List of possible errors
    description: |
      ### List of possible Avanor API errors

      You can use this data to control the logic of your application, analyze and solve problems, output messages
      to the user, and for any other purpose. For example, if you received `error_code: 11` in the response, then most likely you
      incorrectly specified the value of the `shop_id` parameter in the request body.

      If you receive `result: false` in the response, this means that an error occurred, and the transaction was either not created (
      for example, in case of request body validation error), or ended with an error (for example, the payment system returned an error when
      trying to perform a transaction). If the `error code` is not fatal, then you need to wait for the [server notification](#tag/callbacks) (applies to [invoice](#tag/invoice-create) or [refund](#tag/invoice-refund) transactions) or after a certain time start requesting the status of the transaction (applies to [payout](#tag/withdraw-create) transactions) (for 2 hours at 30-second intervals). If the `error code` is fatal the communication with our API is over.

      If you receive `result: true` in response, it means that the transaction was created successfully. If the transaction status in the synchronous
      response is not final (or is absent for some types of transactions), then you need
      to wait for the [server notification](#tag/callbacks) or after a certain time start requesting the status
      of the transaction (applies only to [payout](#tag/withdraw-create) transactions). After receiving the final status of the transaction,
      the communication with our API is over.

      | Error code | Description                                                                                                                                                                         |  Fatal  |
      |------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-------:|
      | 1          | Payway has not been found                                                                                                                                                           | &plus;  |
      | 2          | Payway is not active                                                                                                                                                                | &plus;  |
      | 3          | Payway is not available                                                                                                                                                             | &plus;  |
      | 4          | The specified amount is too small (payway restriction)                                                                                                                              | &plus;  |
      | 5          | The specified amount is too big (payway restriction)                                                                                                                                | &plus;  |
      | 6          | A non-unique operation identifier has been transferred on the part of the shop                                                                                                      | &plus;  |
      | 7          | Operation has not been found                                                                                                                                                        | &plus;  |
      | 8          | Operation is being processed                                                                                                                                                        | &plus;  |
      | 9          | Insufficient balance                                                                                                                                                                | &plus;  |
      | 10         | Invalid request parameters                                                                                                                                                          | &plus;  |
      | 11         | Shop has not been found                                                                                                                                                             | &plus;  |
      | 12         | Shop is not active                                                                                                                                                                  | &plus;  |
      | 13         | Account has not been found in Avanor system                                                                                                                                     | &plus;  |
      | 14         | Account status does not allow operations                                                                                                                                            | &plus;  |
      | 15         | Request from the current IP has been rejected                                                                                                                                       | &plus;  |
      | 16         | Currency exchange rate has not been found                                                                                                                                           | &plus;  |
      | 17         | Invalid contract type for the shop                                                                                                                                                  | &plus;  |
      | 18         | Invalid account type                                                                                                                                                                | &plus;  |
      | 19         | Unable to perform operation for shop with the status of an aggregator                                                                                                               | &plus;  |
      | 20         | Invalid project ID                                                                                                                                                                  | &plus;  |
      | 21         | Project is inactive                                                                                                                                                                 | &plus;  |
      | 22         | Invalid shop currency                                                                                                                                                               | &plus;  |
      | 23         | Account deposit limit exceeds                                                                                                                                                       | &plus;  |
      | 24         | Invalid payee balance                                                                                                                                                               | &plus;  |
      | 25         | Zero amount is specified                                                                                                                                                            | &plus;  |
      | 26         | Amount is less than zero                                                                                                                                                            | &plus;  |
      | 27         | Daily limit has been exceeded                                                                                                                                                       | &plus;  |
      | 40         | Operation with specified BIN is restricted                                                                                                                                          | &plus;  |
      | 41         | Transaction to this payment instrument is forbidden                                                                                                                                 | &plus;  |
      | 100        | Operation has an invalid status                                                                                                                                                     | &plus;  |
      | 101        | Unable to refund since the invoice has a status other than Success (4)                                                                                                              | &plus;  |
      | 102        | Refund amount exceeds the available refund amount                                                                                                                                   | &plus;  |
      | 103        | Transaction for this payment method is not supported                                                                                                                                | &plus;  |
      | 104        | Cannot execute a refund because an incomplete refund already exists. Wait for the current refund to complete before creating a new one.                                             | &plus;  |
      | 1001       | Payment system is unable to process the request now. Please try again later.                                                                                                        | &minus; |
      | 1002       | Payment system has returned the "Access error" status. Please contact the payment system for further information.                                                                   | &plus;  |
      | 1003       | Invalid request parameters. Please verify the accuracy of the payment details and retry the request later.                                                                          | &plus;  |
      | 1004       | The payment amount is less or greater than the allowed limit. Please ensure that the payment amount complies with the requirements of the payment system or bank.                   | &plus;  |
      | 1005       | The transaction limit has been exceeded. Please contact bank or the payment system to get information about the reasons for reaching the transaction limit.                         | &plus;  |
      | 1006       | The account was not found in the payment system. Please check the correctness of the entered data and retry the request.                                                            | &plus;  |
      | 1007       | An error occurred in the payment system. Request the status of the transaction or wait for a server notification.                                                                   | &minus; |
      | 1008       | Insufficient funds in the account to process the payment. Please ensure that there are sufficient funds in the account and retry the request.                                       | &plus;  |
      | 1009       | Insufficient identification status of the wallet                                                                                                                                    | &plus;  |
      | 1010       | The account is blocked. Request information about the reasons for the blockage and the actions required to unblock the account in the payment system or use an alternative account. | &plus;  |
      | 1011       | Operation is forbidden by a payment system. Please contact the payment system for further information.                                                                              | &plus;  |
      | 1012       | Operation is rejected by payment system. Please contact the payment system for further information.                                                                                 | &plus;  |
      | 1013       | Account is locked in payment system                                                                                                                                                 | &minus; |
      | 1014       | Incorrect data in request parameters                                                                                                                                                | &minus; |
      | 1015       | Transaction lifetime was expired                                                                                                                                                    | &plus;  |
      | 1016       | The operation has been declined by the payment system. The user has an unpaid transaction that needs to be either declined or completed.                                            | &plus;  |
      | 1017       | The specified currency for the operation is unavailable. Please contact the payment system for information on the available currencies.                                             | &plus;  |
      | 1018       | No suitable options were found for the transaction. Please try again later.                                                                                                         | &plus;  |
      | 1019       | The user did not confirm or cancel the operation. Please try again later.                                                                                                           | &plus;  |
      | 1020       | The transaction failed KYT verification.                                                                                                                                            | &plus;  |
      | 1100       | Invalid CVV/CVC code. Please verify the accuracy of the entered CVV/CVC code on the back of the credit card.                                                                        | &plus;  |
      | 1101       | Suspicion of fraudulent activity. Please contact the payment system or bank for further information.                                                                                | &plus;  |
      | 1102       | The operation has been rejected by the payment system. Please verify the accuracy of the payment details and retry the request later.                                               | &plus;  |
      | 1103       | The operation has been rejected by the bank. Please contact the bank to determine the reason for the rejection.                                                                     | &plus;  |
      | 1104       | The operation with this payment instrument is prohibited. Please contact bank or the payment system for information on the reasons for the prohibition.                             | &plus;  |
      | 1105       | The card has expired. Please check the expiration date of the card provided during the payment. If the card has indeed expired, please use a card with a valid expiration date.     | &plus;  |
      | 1106       | Invalid card number. Please check the correctness of the entered number and retry the request.                                                                                      | &plus;  |
      | 1107       | 3D-Secure authentication is required. Please contact the payment system or bank for additional information.                                                                         | &plus;  |
      | 1108       | The payment token has expired. Obtain a new token and retry the request.                                                                                                            | &plus;  |
      | 1109       | Transaction rejected by MPI. Please repeat the payment using another bank card.                                                                                                     | &plus;  |
      | 2000       | Another error                                                                                                                                                                       | &plus;  |
paths:
  /invoice/try:
    post:
      summary: Invoice preliminary calculation
      operationId: post-invoice-try
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceTryInfo.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePayload.v1'
      security:
        - RequestSignature: []
      tags:
        - invoice-create
      description: |
        Retrieves additional information for invoice creation.

        <div class="attention">
        This method <strong> is not mandatory </strong> for all payment ways.
        For more information, please contact the technical support service.
        </div>

        It can be used in the following cases:

        * You want to find out the total amount subject to all fees paid by the user,
          before invoice.
        * Payment way requires dynamic set of fields depending on the payment parameters.
          In this case, you need to use the `add_ons_config`, `info`, `manual` and `warning` to
          generate customer form.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `amount`
        * `currency`
        * `payway`
        * `shop_id`
        * `shop_order_id`
        </div>
  /invoice/create:
    post:
      summary: Invoice issue
      operationId: post-invoice-create
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Invoice has been successfully issued
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceCreateInfo.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreatePayload.v1'
        description: ''
      tags:
        - invoice-create
      description: |
        Additional parameters can be transferred in the request, for example:

        * `description` – invoice description,
        * `phone` – phone number linked to the wallet;
        * `account` – card number;

        The list of these parameters depends on the payway (`payway`). The required additional parameters for the payway can be found in the request "Getting payment methods for input" [shop_input_config/shop](#operation/post-shop-input-config-shop) in the `add_ons_config` response field.

        ### Redirecting to invoice payment forms

        If the request is successful, API will return the parameters necessary to redirect the user to the payment system for payment. These parameters will be in the `data` field of the response. The `data.data` field contains the parameters to be transferred during redirection (in the form of `GET` or `POST` request parameters).

        The redirection method depends on the `method` parameter. The generated request must be sent to the URL specified in the `url` field of the `data` field.

        For example, if you receive a `POST` in the `method` parameter to redirect a client to pay an invoice, you need to generate an HTML form from the parameters received in the response body (these parameters will differ for different payment systems).

        An example of forming an HTML form using the `jinja2` template language:

        ```jinja2
        <form method="POST" action="{{ data['url'] }}">
            {% for param, value in data['data'].items() %}
              <input name="{{ param }}" value="{{ value }}" />
            {% endfor %}
        </form>
        ```

        For the data specified in the example response below, the following HTML form will be obtained:

        ```html
        <form method="POST" action="https://checkout.domain.com/form/">
          <input name="transaction_id" value="1047" />
          <input name="payment_type" value="card" />
          <input name="fail_url" value="https://example.com/payment/?status=fail" />
          <input name="success_url" value="https://example.com/payment/?status=success" />
          <input type="submit" />
        </form>
        ```

        In case of `"method": "GET"` it is required to perform HTTP redirect to the URL with the parameters (using [percent‐encoding](https://en.wikipedia.org/wiki/Percent-encoding)), received in the `data.data` response field.

        The URL is generated according to the following algorithm:

        ```python
        import urllib.parse
        redirect_url = '{url}?{parameters}'.format(url=data['url'], parameters=urllib.parse.urlencode(data['data']))
        ```

        An example of the formed URL: `https://checkout.domain.com/form/?transaction_id=abcd&payment_type=card&fail_url=https%3A%2F%2Fgogle.com%2Fpayment%2F%3Fstatus%3Dfail&success_url=https%3A%2F%2Fgogle.com%2Fpayment%2F%3Fstatus%3Dsuccess`

        <div class="attention">
        Please note that the parameters <code>failed_url</code>, <code>success_url</code>, <code>callback_url</code>, <code>callback_rejected_url</code> specified in the shop settings have priority over those specified in request. If you want to use unique url for each request, you need to inform the manager about it.
        </div>

        ### Payer Browser Authentication for 3D Secure

        For 3ds 2.0 payments with card data to be successful, the payer's browser information must be collected.

        You can collect the data yourself or let our service perform this for you. If you collect the data on your end, please ensure that all the necessary values are included to the payment initiation request [/invoice/create](#operation/post-invoice-create).

        As an example, the provided JavaScript code could be employed to obtain the Payer Browser information. Please be aware that the `client_info` fields provided below do not include `browser_accept_header`.

        ```js
        let client_info = {
            "browser_java_enabled": window.navigator.javaEnabled(),
            "browser_javascript_enabled": true,
            "browser_language": window.navigator.language,
            "browser_color_depth": window.screen.colorDepth.toString(),
            "browser_screen_height": window.screen.height.toString(),
            "browser_screen_width": window.screen.width.toString(),
            "browser_tz": (new Date()).getTimezoneOffset().toString(),
            "browser_user_agent": window.navigator.userAgent,
            "challenge_window_size": "05"
        }
        ```

        If the payer's browser data is not provided in the [/invoice/create](#operation/post-invoice-create) request, it will be necessary to redirect the payer to our service as an intermediate step using a `data` object, so that our service can collect the necessary browser data. See [Redirecting to invoice payment forms](#redirecting-to-invoice-payment-forms) for the details on redirect.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `amount`
        * `currency`
        * `payway`
        * `shop_id`
        * `shop_order_id`
        </div>
  /invoice/check:
    post:
      summary: Issued invoice status request
      operationId: post-invoice-check
      description: |
        To get the status and up-to-date information regarding issued invoice.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        * `shop_order_id`
        </div>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceCheckData.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      tags:
        - invoice-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCheckPayload.v1'
  /invoice/hold:
    post:
      summary: Funds hold (two-stage payments)
      operationId: post-invoice-hold
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceCreateInfo.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceHoldPayload.v1'
        description: ''
      tags:
        - invoice-create
      description: |
        <div class="attention">This feature is available only after approval by the manager.</div>

        *First step of two-step payment.*

        First step is performed according to the scheme [invoice/create](#operation/post-invoice-create).

        After successful creation and payment of the invoice, [status](#tag/invoice-statuses) will be equal to **8 (Invoice funds are on hold in the payment system)**.

        To complete the funds receipt operation, execute [invoice/charge](#operation/post-invoice-charge) or to cancel,
        execute [invoice/unhold](#operation/post-invoice-unhold).

        <div class="warning">
        When funds are held, merchants are required to confirm or cancel the payment within 5 days.
        Avanor service does not automatically confirm or cancel held payments after this period.

        The funds holding period cannot exceed 5 days.
        </div>

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `amount`
        * `currency`
        * `payway`
        * `shop_id`
        * `shop_order_id`
        </div>
  /invoice/charge:
    post:
      summary: Confirmation of funds withdrawal (charge)
      operationId: post-invoice-charge
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Funds have been successfully withdrawn
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceChargeInfo.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceChargePayload.v1'
        description: ''
      tags:
        - invoice-create
      description: |
        ### Withdrawal confirmation.

        Performed **only** after [invoice/hold](#operation/post-invoice-hold) method (second step of two-stage payment)

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `invoice_id`
        * `now`
        * `shop_id`
        </div>
  /invoice/unhold:
    post:
      summary: Cancellation of funds holding
      operationId: post-invoice-unhold
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Funds have been unhold successfully
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/InvoiceUnholdInfo.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceUnholdPayload.v1'
        description: ''
      tags:
        - invoice-create
      description: |
        ### Cancellation of funds hold.

        Executed **only** after the method [invoice/hold](#operation/post-invoice-hold)

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `invoice_id`
        * `now`
        * `shop_id`
        </div>
  /shop_input_config/shop:
    post:
      summary: Getting payment methods for input
      operationId: post-shop-input-config-shop
      description: |
        Provides an up-to-date list of available payment ways and their additional parameters required for invoicing.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        </div>
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopConfigPayload.v1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopInputConfigResponse.v1'
      tags:
        - invoice-create
  /invoice/create-refund:
    post:
      summary: Invoice refund
      operationId: post-invoice-create-refund
      description: |-
        Method for creating a refund to the payer from the partner's balance,
        with a successfully paid invoice ([invoice status](#tag/invoice-statuses) has a value of 4).

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `amount`
        * `invoice_id`
        * `shop_id`
        * `shop_refund_id`
        </div>
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRefundPayload.v1'
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: The refund was successfully created
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            allOf:
                              - description: Information about the created refund operation
                              - $ref: '#/components/schemas/InvoiceRefundStatusResponse.v1'
                  - $ref: '#/components/schemas/ResponseCreateRefundFail.v1'
      tags:
        - invoice-refund
  /invoice/get-refunds:
    post:
      summary: Invoice refund status
      operationId: post-invoice-get-status-refunds
      description: |-
        To get status and up-to-date information on refunds.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `invoice_id`
        * `now`
        * `shop_id`
        </div>
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRefundStatusPayload.v1'
      responses:
        '200':
          description: ''
          x-summary: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Refund is successfully created
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            type: array
                            description: Information about created refund operations for the specified invoice
                            items:
                              allOf:
                                - $ref: '#/components/schemas/InvoiceRefundStatusResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      tags:
        - invoice-refund
  /withdraw/try:
    post:
      summary: Payout preliminary calculation
      operationId: post-withdraw-try
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - type: object
                        properties:
                          data:
                            $ref: '#/components/schemas/TryResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      description: |
        Retrieves additional information for payout creation and preliminary commission calculation.

        <div class="attention">
        This method <strong> is not mandatory </strong> for all payment ways.
        For more information, please contact the technical support service.
        </div>

        You can use it in the following cases:

        * You want to find out total amount subject to all fees paid by the user,
          before payout creation.
        * You want to determine total amount that will be withdrawn from your invoice, taking into account all the commissions,
          before payout creation.
        * Payment way requires a dynamic set of fields depending on the payout parameters.
          In this case, you need to use `account_info_config` parameter to generate customer form.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `amount`
        * `amount_type`
        * `payway`
        * `shop_currency`
        * `shop_id`
        </div>
      tags:
        - withdraw-create
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TryPayload.v1'
        description: ''
  /check_account:
    post:
      summary: Checking the account for the possibility of replenishment
      operationId: post-withdraw-check-account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - type: object
                        properties:
                          data:
                            $ref: '#/components/schemas/CheckAccountResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      tags:
        - withdraw-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAccountPayload.v1'
        description: ''
      description: |
        Returns information about the account for which the payout request is being created.

        <div class="attention">
        This <strong> method is optional </strong> for all payment ways.
        For the list of supported account types, please contact technical support.
        </div>

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `account`
        * `amount`
        * `payway`
        * `shop_id`
        </div>
  /withdraw/create:
    post:
      summary: Payout creation
      operationId: post-withdraw-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - type: object
                        properties:
                          data:
                            $ref: '#/components/schemas/CreateResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      description: |
        Additional parameters can be transferred in the request, for example:
        * `description` – payout description,
        * `account_details` – additional information on the account for payout.

        The list of these parameters depends on the payway (`payway`). The required additional parameters for the payway can be found in the request "Receive possible payout methods for payments" [shop_output_config/shop](#operation/post-shop-output-config-shop) in the `account_info_config` response field.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `account`
        * `amount`
        * `amount_type`
        * `payway`
        * `shop_currency`
        * `shop_id`
        * `shop_payment_id`
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayload.v1'
      tags:
        - withdraw-create
      security:
        - RequestSignature: []
  /withdraw/status:
    post:
      summary: Payout status request by ID of the payout created in Avanor system
      operationId: post-withdraw-status
      description: |
        To get the status and up-to-date information of payments by the Avanor system ID.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        * `withdraw_id`
        </div>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/StatusResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      tags:
        - withdraw-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusPayload.v1'
  /withdraw/shop_payment_status:
    post:
      summary: Payout status request by the shop payout number
      operationId: post-withdraw-shop-payment-status
      description: |
        To get the status and up-to-date information of payments by `shop_payment_id`.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        * `shop_payment_id`
        </div>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/StatusResponse.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      security:
        - RequestSignature: []
      tags:
        - withdraw-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopPaymentStatusPayload.v1'
  /shop_output_config/shop:
    post:
      summary: Getting possible payout methods
      operationId: post-shop-output-config-shop
      description: |
        Makes it possible to get an up to date list of available payment ways and their additional parameters required to create a payment. For some payways returns additional data.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        </div>
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopConfigPayload.v1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopOutputConfigResponse.v1'
      tags:
        - withdraw-create
  /shop_balance:
    post:
      summary: Receive the shop balance
      operationId: post-shop-balance
      description: |
        Makes it possible to get the shop's balance. The total balance of the shop corresponds to the amount of `available`, `frozen` and `hold` in the specified currency. This request is available only for agent shops created to make payments.

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `now`
        * `shop_id`
        </div>
      security:
        - RequestSignature: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopConfigPayload.v1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Successful response
                    allOf:
                      - $ref: '#/components/schemas/ResponseOK.v1'
                      - properties:
                          data:
                            $ref: '#/components/schemas/ShopBalancesResponseData.v1'
                  - $ref: '#/components/schemas/ResponseFail.v1'
      tags:
        - other-shop-methods
components:
  securitySchemes:
    RequestSignature:
      type: apiKey
      in: header
      name: sign
      description: |+
        Every API request must be signed so that we can identify your account.

        The signature is transferred in the request body through the `sign` parameter, for example:

        ```json
        {
            "shop_id": 202203,
            "shop_order_id" : "1994",
            "amout": "104.04",
            "currency": 840,
            "payway": "payway_usd",
            "description": "Invoice sign",
            "sign": "05f6d3712417f62af6cbf66ca81c2f0b249f7dc1b4cbe3a50e3f8d67a1fb35a2"
        }
        ```
        <div class="warning">
        All further request examples do not include the <code>"sign"</code> parameter, nevertheless your real requests <strong>must</strong> include it in the request body where required.
        </div>

        Signature line is generated according to the following algorithm: all request parameters involved in signature generation are ordered in the alphabetical order of keys, the values are concatenated with a colon (":") and the account secret key is added at the end (without the: `sign`), a sha256 hash is generated from the resulting line and its hex representation is passed in the sign request parameter.

        ### Example of signature generation for a method [invoice/create](#operation/post-invoice-create):

        1. Determining the list of parameters. It looks as follows for the method in consideration:

        <div class="success">
        <p>Fields involved in request signature generation:</p>

        * `shop_id`
        * `shop_order_id`
        * `amount`
        * `currency`
        * `payway`
        </div>

        2. Let's sort keys in alphabetical sequence:

        `"amount", "currency", "payway", "shop_id", "shop_order_id"`

        3. The line for generating the SHA256 hash will be as follows:

        `"104.04:840:payway_usd:202203:1994account-secret-key"`

        Where `account-secret-key` is the secret identification key for your account. You can request a key from the support service.

        4. Let's get a hash expression of the generated line using Python code:

        ```python
        >>> string_to_sign = '104.04:840:payway_usd:202203:1994account-secret-key'
        >>> import hashlib
        >>> sign = hashlib.sha256(string_to_sign.encode()).hexdigest()
        >>> print(sign)
        '05f6d3712417f62af6cbf66ca81c2f0b249f7dc1b4cbe3a50e3f8d67a1fb35a2'
        ```

        <div class="success">
        You can check whether you have generated the signature correctly using the service <a href="https://www.xorbin.com/tools/sha256-hash-calculator">https://www.xorbin.com/tools/sha256-hash-calculator</a>.
        </div>

  schemas:
    InvoiceCallBack:
      oneOf:
        - $ref: '#/components/schemas/InvoiceCallBack.v1'
        - $ref: '#/components/schemas/InvoiceCallBackWithConversionData.v1'
    RefundCallBack:
      oneOf:
        - $ref: '#/components/schemas/RefundCallBack.v1'
        - $ref: '#/components/schemas/RefundCallBackWithConversionData.v1'
    ShopID.v1:
      type: object
      title: Shop ID
      properties:
        shop_id:
          type: integer
          example: 202203
          description: Unique shop identifier in the Avanor system.
      required:
        - shop_id
    ShopOrderID.v1:
      type: object
      title: Identifier sent by the shop
      properties:
        shop_order_id:
          type: string
          example: 389d4f2c-46b9-4164-bcc4-fbd51e00d445
          description: Order ID in your system. *Must be unique for each new invoice.*
          maxLength: 255
      required:
        - shop_order_id
    Amount.v1:
      title: Amount received or withdrawn.
      type: string
      description: |
        Amount received or withdrawn.
        Example: `"105.45"`
      exclusiveMinimum: true
      minimum: 0
      example: '105.45'
    InvoiceCreatePayload.v1:
      oneOf:
        - $ref: '#/components/schemas/InvoiceCreateCard.v1'
        - $ref: '#/components/schemas/InvoiceCreateFPS.v1'
    InvoiceCreateFPS.v1:
      title: Faster payment system
      allOf:
        - $ref: '#/components/schemas/InvoiceCreateBase.v1'
        - type: object
          properties:
            account:
              type: string
              description: Payer account (phone number)
              example: '79102471377'
          required:
            - account
      example:
        shop_id: 1520
        shop_order_id: "5b0efa8a-153b-4421-abac-2aba4d772a86"
        amount: "6320.91"
        currency: 840
        payway: "card_invoice_usd"
        account: "79102471377"
        description: "Invoice for payment"
        failed_url: "https://your-domain.com/status/failed/"
        success_url: "https://your-domain.com/status/success/"
        callback_url: "https://your-domain.com/status/callback/"
        callback_rejected_url: "https://your-domain.com/status/rejected/"
    Currency.v1:
      type: number
      description: |
        Numeric currency identifier in accordance with [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
        Example: `840`
      title: Currency identifier
      example: 840
    Payway.v1:
      type: string
      maxLength: 150
      pattern: ^[A-Za-z_,\[\]]+$
    PaywayInvoice.v1:
      title: Payment way
      example: payway_usd
      allOf:
        - $ref: '#/components/schemas/Payway.v1'
        - description: |
            Payment way for payment.
            Invoice currency depends on the specified payment way.

            There are two ways to get a list of all payment directions available to the shop:
            * Execute API request "Receiving payment methods for input" [shop_input_config/shop](#operation/post-shop-input-config-shop).
            * Request register from the support service.
    Description.v1:
      type: object
      properties:
        description:
          type: string
          description: Optional payment description.
          example: 'Description of example invoice'
          maxLength: 255
    InvoicePayload.v1:
      title: Invoice issue parameters
      type: object
      allOf:
        - $ref: '#/components/schemas/ShopID.v1'
        - $ref: '#/components/schemas/ShopOrderID.v1'
        - properties:
            amount:
              allOf:
                - title: Invoice amount
                - $ref: '#/components/schemas/Amount.v1'
            currency:
              $ref: '#/components/schemas/Currency.v1'
            payway:
              $ref: '#/components/schemas/PaywayInvoice.v1'
          required:
            - shop_id
            - amount
            - currency
            - payway
            - shop_order_id
            - sign
        - $ref: '#/components/schemas/Description.v1'
    Response.v1:
      title: API response
      type: object
      properties:
        result:
          type: boolean
          description: Boolean value, in case of successful response it will be `true`, in case of error – `false`
        message:
          type: string
          description: A textual description of the error, in case of success - simply `Ok`
        error_code:
          type: number
          description: If this value is greater than `0`, then the request ended with an error. [Description of error codes](#tag/errors-list)
      required:
        - data
        - error_code
        - message
        - result
      description: ''
    ResponseOK.v1:
      title: Successful response
      type: object
      allOf:
        - $ref: '#/components/schemas/Response.v1'
        - properties:
            result:
              example: true
            message:
              example: Ok
            error_code:
              example: 0
    InvoiceTryInfo.v1:
      title: Preliminary calculation of the invoice
      type: object
      properties:
        add_ons_config:
          type: object
          description: |-
            Additional parameters that must be sent in the invoice issue request.
            For example:
            ```json
              {
                "email": 
                {
                  "comment": {
                    "en": "Enter your e-mail",
                    "ru": "Введите Ваш e-mail"
                  },
                  "example": "someone@example.com",
                  "label": {"en": "E-mail", "ru": "Электронная почта"},
                  "regex": "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                }
              }
            ```
            In this case, this is the `email` parameter. 
            It must be present in the account creation request.

            * `comment` – more detailed description of the purpose of the parameter;
            * `example` – example of the parameter value;
            * `label` – name of the mandatory parameter;
            * `regex` – regular expression that the mandatory parameter must match.
          example:
            email:
              comment:
                en: Enter your e-mail
                ru: Введите Ваш e-mail
              example: someone@example.com
              label:
                en: E-mail
                ru: Электронная почта
              regex: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$
        payer_price:
          type: number
          description: Amount due, in the currency of the payway.
          example: 146.1
        paymethod_id:
          type: integer
          description: Payment method identifier
          example: 2
        paymethod_name:
          type: string
          description: Payment method name
          example: method_example
        ps_currency:
          $ref: '#/components/schemas/Currency.v1'
        info:
          type: object
          description: Information for the user.
        manual:
          type: object
          description: User manual.
          example:
            en: Please enter your email we will use it to send you a billing statement
            ru: Пожалуйста укажите свой email, мы вышлем на него квитанцию об оплате
        warning:
          type: object
          description: User warning.
      required:
        - add_ons_config
        - payer_price
        - paymethod_id
        - paymethod_name
        - ps_currency
        - info
        - manual
        - warning
    ResponseFail.v1:
      title: Error response
      type: object
      description: |
        # Error response
      allOf:
        - $ref: '#/components/schemas/Response.v1'
        - properties:
            data:
              type: object
              example: null
              nullable: true
            result:
              example: false
            message:
              example: Shop (id = 202203) is not active
            error_code:
              example: 12
    InvoiceCreateUrls.v1:
      type: object
      properties:
        failed_url:
          type: string
          description: URL where the payer will be redirected after unsuccessful invoice payment.
          format: uri
          example: https://example.com/status/failed/
        success_url:
          type: string
          format: uri
          example: https://example.com/status/success/
          description: URL where the payer will be redirected after successful invoice payment.
        callback_url:
          type: string
          description: URL where the notification about successful payment will be sent.
          format: uri
          example: https://example.com/status/callback/
        callback_rejected_url:
          type: string
          description: URL where the notification about unsuccessful payment will be sent.
          format: uri
          example: https://example.com/status/rejected/
    InvoiceCreateBase.v1:
      allOf:
        - $ref: '#/components/schemas/InvoicePayload.v1'
        - $ref: '#/components/schemas/InvoiceCreateUrls.v1'
    InvoiceCreateClientIP.v1:
      type: object
      properties:
        client_ip:
          type: string
          format: IPv4
          example: 192.168.0.1
          description: Payer IP address
    InvoiceCreateExpiresAt.v1:
      type: object
      properties:
        expires_at:
          title: <ISO 8601>
          type: string
          format: date-time
          example: '2026-12-30T00:00:00Z'
          description: |
            Invoice expiration date in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
            If invoice is not paid until this date, subsequent invoice payment will not be possible.
    InvoiceCreateCard.v1:
      title: Bank card payment
      allOf:
        - $ref: '#/components/schemas/InvoiceCreateBase.v1'
        - $ref: '#/components/schemas/InvoiceCreateClientIP.v1'
        - $ref: '#/components/schemas/InvoiceCreateExpiresAt.v1'
        - type: object
          properties:
            card:
              type: object
              description: |-
                Bank card details should be sent when:
                - You have a PCI DSS certificate
                - You do not need a page on the Avanor side to get card details from the buyer

                In case the payment way to the cards is used and the card data is not transmitted, the response to the request will contain a link to redirect the buyer to enter the card details.
                Also, `method`, `url` and `data` will be filled in if the user needs to be redirected to pass the 3DSecure check.
              properties:
                number:
                  type: string
                  description: Bank Card number
                  example: '4814651800997171'
                cardholder:
                  type: string
                  pattern: ' ^[0-9A-Z-/ _.'']{1,26}$'
                  description: Cardholder name. If name is not provided default value «Card Holder» will be used
                  example: ELIZABETH JONES
                expiry_month:
                  type: string
                  pattern: ' (^0?[1-9]{1}$)|(^1[012]{1}$)'
                  description: Bank card expiration month
                  example: '11'
                expiry_year:
                  type: string
                  description: Bank card expiration year
                  pattern: ^\d{2}$
                  example: '34'
                cvv:
                  type: string
                  description: Secure code
                  example: '518'
                  minLength: 3
                  maxLength: 4
              required:
                - number
                - expiry_month
                - expiry_year
                - cvv
            issue_payment_token:
              type: boolean
              example: true
              description: This parameter is used to generate a payment token. More details [invoice/recurrent](#tag/invoice-recurrent)
            client_info:
              type: object
              description: |
                Payer browser information.

                See [Payer Browser Authentication for 3D Secure](#payer-browser-authentication-for-3d-secure) for the details of the data gathering.
              properties:
                browser_accept_header:
                  type: string
                  description: |
                    Exact HTTP Accept header content as sent by the Payer's browser to Merchant's site.\
                    Example: `"text/html"`
                  example: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8
                browser_java_enabled:
                  type: boolean
                  description: |
                    The ability to execute Java in a browser.\
                    It is recommended to obtain browser values from the global object `navigator`: `navigator.javaEnabled`.
                  example: false
                browser_javascript_enabled:
                  type: boolean
                  description: |
                    The ability to execute JavaScript in a browser.\
                    If the value is not provided, the default value is `true` is set.
                  example: true
                browser_language:
                  type: string
                  description: |
                    Browser language according to the [IETF BCP47](https://en.wikipedia.org/wiki/IETF_language_tag) format.\
                    It is recommended to obtain browser values from the global object `navigator`: `navigator.language`.\
                    Example: `"en"`
                  example: en
                browser_color_depth:
                  type: string
                  description: |
                    The value of the device color depth.\
                    It is recommended to obtain browser values from the global object `screen`: `screen.colorDepth`.\
                    Example: `"24"`
                  example: '24'
                browser_screen_height:
                  type: string
                  description: |
                    Screen height in pixels.\
                    It is recommended to obtain browser values from the global object `screen`: `screen.height`.\
                    Example: `"800"`
                  example: '800'
                browser_screen_width:
                  type: string
                  description: |
                    Screen width in pixels.\
                    It is recommended to obtain browser values from the global object `screen`: `screen.width`.\
                    Example: `"480"`
                  example: '480'
                browser_tz:
                  type: string
                  description: |
                    Browser time zone in minutes from UTC.\
                    Recommendation to obtain browser TZ values: call the `getTimezoneOffset()` method.\
                    Example: `"-120"` for UTC+2, `"240"` for UTC-4
                  example: '-120'
                browser_user_agent:
                  type: string
                  description: |
                    Browser User Agent.\
                    It is recommended to obtain browser values from the global object `navigator`: `navigator.userAgent`.\
                    Example: `"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Safari/605.1.15"`
                  example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Safari/605.1.15
                challenge_window_size:
                  type: string
                  description: |
                    Enum: `"01"`, `"02"`, `"03"`, `"04"`, `"05"`.\
                    The accepted values of the window size for the 3DSecure check:
                    * 250 x 400 = `"01"`
                    * 390 x 400 = `"02"`
                    * 500 x 600 = `"03"`
                    * 600 x 400 = `"04"`
                    * Full screen = `"05"`

                    If the value is not provided, the default value `"05"` is set. 
                  example: '05'
          required:
            - client_ip
    InvoiceCreateInfo.v1:
      title: Invoice payment form
      type: object
      description: ''
      properties:
        data:
          example:
            MD: 38e3244e2bcc4ed7a29aaa886a0e5374
            PaReq: YPhfxL294rkdSCu7zBd6yArmgEuNhyuhCC6UNeNoql9OmgYbGcAQHkNxwZ6x0j2kLdoGytuJ9GfwxxkGLzZp5VdlQfhDd5QSK9XE68IrmgBJ1DxSsozMvGC9zGAxm2rDYqcA5HYuCQ66ocOw7P5sKQZphxm2DqoYBwji9zInFRIaTabC4UXzCjWbWT5NNpmz0ULXiOBmX6JB9BpP85UCrwWPC8Ee97gX7KRyOfZoe5Z65aKF7WLNFS5L3VffcV0YVyLKe2dXgrs3fACGrVM7dZmDFB7NiJL0yqgv5oYPjDSniZAkrlbShjILNLspVdzLwRKygvLOfEhhKvqmnoOTkNw4qfvgj4inrHnR3EcO3CozcdFh6T23sA7uP7LLZ3cHfAayfw9VpssdfeKorwajz2XdOOIrl45cXKnNLVEivyFbbUJF8wUq8bkkZXyTQGCKhqB819w2MuFu
            TermUrl: https://card-api-test.example.com/v1/invoice/finish3ds/38e3244e2bcc4ed7a29aaa886a0e5374
          type: object
          nullable: true
          description: |
            Data to be sent using the `method` method to `url`. The fields below are indicated for example,
            the real names of the fields and their number will differ depending on the payment system.
          properties:
            key1:
              type: string
            key2:
              type: string
        id:
          type: number
          example: 32105
          description: Unique invoice identifier in Avanor system
        method:
          type: string
          nullable: true
          description: Method of sending `data` to `url`. If you received `null`, then you do not need to redirect to the payment form.
          enum:
            - GET
            - POST
          example: POST
        url:
          type: string
          format: uri
          nullable: true
          example: https://checkout.avanor.tech/form/
          description: URL subject to which the contents of the `data` field should be sent by the `method`. If `null` is received, then you do not need to send it.
      required:
        - data
        - id
        - method
        - url
    Now.v1:
      title: Request date and time
      type: object
      properties:
        now:
          type: string
          format: date-time
          example: '2020-04-21T20:07:02'
          description: Request date and time.
      required:
        - now
    InvoiceCheckPayload.v1:
      allOf:
        - $ref: '#/components/schemas/ShopOrderID.v1'
        - $ref: '#/components/schemas/ShopID.v1'
        - $ref: '#/components/schemas/Now.v1'
    InvoiceDescription.v1:
      type: string
      title: Payment description
      description: Payment description
      example: Invoice for user_id=7766
    ErrorCode.v1:
      title: Avanor API error code
      type: number
      format: integer
      example: 0
      description: 'Avanor API error code. `0` in cases there is no any error. Other codes can be found here: [Description of error codes](#tag/errors-list)'
      required:
        - error_code
    BaseInvoiceStatus.v1:
      title: Basic information about the issued invoice
      allOf:
        - $ref: '#/components/schemas/ShopOrderID.v1'
        - $ref: '#/components/schemas/ShopID.v1'
        - type: object
          properties:
            status: {}
            payment_id:
              type: integer
              description: Unique identifier of the issued invoice in Avanor system
              example: 12
            ps_data:
              type: string
              description: |-
                Additional information from the payment system in the JSON Lines format.
                Mandatory field - payer's account `ps_payer_account`.
                Other fields depend on the payment system.

                In case of payment tokens, the `payment_token` parameter will also be represented in this field.
              example: '{"ps_payer_account": "411111XXXXXX1111", "bill_id": "7766", "amount": "190.99", "status": "success"}'
            ps_currency:
              allOf:
                - description: Currency of the payway used by the user for payment
                - $ref: '#/components/schemas/Currency.v1'
            payway:
              allOf:
                - description: Payway in Avanor system used by the user for payment
                - $ref: '#/components/schemas/Payway.v1'
            description:
              $ref: '#/components/schemas/InvoiceDescription.v1'
            created:
              type: string
              description: Invoice creation date and time
              format: date-time
              example: '2020-04-21T20:07:02'
            updated:
              type: string
              description: Invoice status change date and time (payment or rejection)
              format: date-time
              example: '2020-04-21T20:09:02'
            processed:
              type: string
              description: Date and time of invoice transfer to the final status
              format: date-time
              nullable: true
              example: '2020-04-21T20:09:03'
            shop_currency:
              allOf:
                - description: Shop account currency
                - $ref: '#/components/schemas/Currency.v1'
            shop_amount:
              type: number
              format: float
              description: Invoice amount, in the invoice currency
              example: 267
            client_price:
              type: number
              format: float
              description: Amount paid by the client, in the payment system currency.
              example: 272.34
            error_code:
              $ref: '#/components/schemas/ErrorCode.v1'
      required:
        - status
        - payment_id
        - ps_data
        - ps_currency
        - payway
        - description
        - created
        - updated
        - processed
        - shop_currency
        - shop_amount
        - client_price
        - error_code
    InvoiceStatus.v1:
      title: Account status
      type: object
      properties:
        status:
          type: integer
          example: 2
          description: A more detailed description of the statuses can be found [below](#tag/invoice-statuses)
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 8
    InvoiceCheckStatus.v1:
      title: Information about the account status
      allOf:
        - $ref: '#/components/schemas/BaseInvoiceStatus.v1'
        - $ref: '#/components/schemas/InvoiceStatus.v1'
        - type: object
          properties:
            shop_refund:
              type: number
              format: float
              description: Amount credited to the shop's balance, in currency `settlement_currency`
              example: 77
            settlement_currency:
              type: number
              description: Shop balance currency
              example: 840
            settlement_rate:
              type: number
              nullable: true
              format: float
              description: Exchange rate
              example: null
      required:
        - settlement_rate
        - settlement_currency
        - shop_refund
    InvoiceExpiresAt.v1:
      type: object
      properties:
        expires_at:
          title: <ISO 8601>
          type: string
          nullable: true
          format: date-time
          example: '2026-12-30T03:00:00+03:00'
          description: |
            Invoice expiration date in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
            If invoice is not paid until this date, subsequent invoice payment will not be possible.
      required:
        - expires_at
    PaymentTokenStatus.v1:
      title: Payment token status
      type: string
      enum:
        - CREATED
        - WAITING
        - SUCCESS
        - FAILED
        - DELETED
      example: SUCCESS
      description: |-
        Token issue statuses:
          * `CREATED` - request for token issue created
          * `WAITING` - request is waiting for user's actions
          * `SUCCESS` - token successfully created
          * `FAILED` - token creation failed
          * `DELETED` - token deleted
    InvoiceCheckData.v1:
      title: Invoice status verification
      allOf:
        - $ref: '#/components/schemas/InvoiceCheckStatus.v1'
        - $ref: '#/components/schemas/InvoiceExpiresAt.v1'
        - type: object
          properties:
            is_unique:
              type: boolean
              description: Uniqueness of the payment number.
            processed:
              type: string
              format: date-time
              nullable: true
              example: '2020-04-21T20:07:02'
              description: Date and time of issuing the final invoice status
            payment_token:
              type: object
              description: Payment token data
              properties:
                token:
                  type: string
                  format: uuid
                  description: Payment token
                  example: 4f6cf35x-2c4y-483z-a0a9-158621f77a21
                expires_at:
                  title: <ISO 8601>
                  type: string
                  format: date-time
                  example: '2025-12-27T20:07:02'
                  description: Date and time of payment token expiration
                status:
                  $ref: '#/components/schemas/PaymentTokenStatus.v1'
                account:
                  type: string
                  example: 411111XXXXXX1111
                  description: Masked number of the account (card or wallet) for which the token was issued
                card_info:
                  type: object
                  description: Information on the bank card
                  properties:
                    issuing_country:
                      type: string
                      maxLength: 3
                      minLength: 3
                      description: Issuer's country code. Alphabetical country identifier under [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3).
                      example: GBR
                    issuing_bank:
                      type: string
                      example: Example Bank
                      description: Issuing bank
                    payment_system:
                      type: string
                      example: VISA
                      description: Payment system type
                    funding_source:
                      type: string
                      example: DEBIT
                      description: Card type
                    payment_system_product:
                      type: string
                      example: GOLD
                      description: Card category
              required:
                - token
                - status
          required:
            - is_unique
    InvoiceHoldPayload.v1:
      oneOf:
        - $ref: '#/components/schemas/InvoiceCreateCard.v1'
        - $ref: '#/components/schemas/InvoiceCreatePaymentToken.v1'
        - $ref: '#/components/schemas/InvoiceCreateFPS.v1'
    InvoiceID.v1:
      title: Payment ID
      type: object
      properties:
        invoice_id:
          type: number
          description: Invoice ID in the Avanor system.
          format: integer
          example: 27401
      required:
        - invoice_id
    InvoiceChargePayload.v1:
      title: Request parameters for confirmation of funds withdrawal
      type: object
      allOf:
        - $ref: '#/components/schemas/ShopID.v1'
        - $ref: '#/components/schemas/Now.v1'
        - $ref: '#/components/schemas/InvoiceID.v1'
    InvoiceChargeInfo.v1:
      title: Information regarding the withdrawal of holding funds
      allOf:
        - $ref: '#/components/schemas/BaseInvoiceStatus.v1'
        - $ref: '#/components/schemas/InvoiceStatus.v1'
        - type: object
          properties:
            shop_refund:
              type: number
              format: float
              description: Amount credited to the shop's balance, in currency `settlement_currency`
              example: 201
            settlement_currency:
              type: number
              description: Shop balance currency
              example: 840
            settlement_rate:
              type: number
              nullable: true
              format: float
              description: Exchange rate
              example: null
      required:
        - settlement_rate
        - settlement_currency
        - shop_refund
    InvoiceUnholdPayload.v1:
      title: Payment cancellation parameters
      allOf:
        - $ref: '#/components/schemas/InvoiceChargePayload.v1'
    InvoiceUnholdInfo.v1:
      title: Cancellation of holding
      allOf:
        - $ref: '#/components/schemas/InvoiceChargeInfo.v1'
    ShopConfigPayload.v1:
      title: Request body for getting shop settings
      allOf:
        - $ref: '#/components/schemas/ShopID.v1'
        - $ref: '#/components/schemas/Now.v1'
        - type: object
          properties:
            payway:
              type: string
              maxLength: 150
              pattern: ^[A-Za-z_,\[\]]+$
              description: Payment direction for payout. Currency of receipt depends on the specified payment way. Execute the API request for get list of additional data.
    PayMethod.v1:
      title: Payment method
      type: object
      description: Payment method such as e-wallets, credit cards, mobile payments, bank transfers and others.
      properties:
        id:
          type: integer
          description: Payment method ID.
          example: 14
        name:
          type: string
          description: Payment method name.
          example: card-usd
        rating:
          type: integer
          description: Payment method rating.
          example: 1
        payways:
          type: array
          description: Payways available to the store.
          items: {}
      required:
        - id
        - name
        - rating
        - payways
    FeeConfig.v1:
      title: Settings for the distribution of commission between the shop and the payer.
      type: object
      properties:
        percent:
          type: number
          description: A commission percentage, which is set under the agreement for the shop.
          format: float
          example: 2.7
          minimum: 0
          maximum: 100
        fix:
          type: number
          description: A fixed commission rate, which is set under the agreement for the shop.
          format: float
          example: 1.6
          minimum: 0
      required:
        - percent
        - fix
    PaywayInfo.v1:
      title: Payway information
      type: object
      properties:
        alias:
          type: string
          example: example_payway_card_usd
          description: Payway alias.
        currency:
          $ref: '#/components/schemas/Currency.v1'
        min_amount:
          type: number
          description: Minimum payment amount for this payway
          example: 100
        max_amount:
          type: number
          description: Maximum payment amount for this payway
          example: 1000000
        fee_config:
          $ref: '#/components/schemas/FeeConfig.v1'
      required:
        - alias
        - currency
        - min_amount
        - max_amount
        - account_info_config
        - fee_config
    FeePartConfig.v1:
      title: Settings for the distribution of commission between the shop and the payer.
      type: object
      description: ''
      properties:
        percent_part:
          type: number
          description: |-
            Distribution of percentage commission between the payer and the shop.
             0 - for the payer, 1 - for the shop.
          format: float
          example: 0.09
          minimum: 0
          maximum: 1
        fix_part:
          type: integer
          description: |-
            Distribution of flat commission between the payer and the shop.
            0 - for the payer, 1 - for the shop.
          enum:
            - 0
            - 1
      required:
        - percent_part
        - fix_part
    PaywayInfoInvoice.v1:
      title: Input payway information (Invoice)
      allOf:
        - $ref: '#/components/schemas/PaywayInfo.v1'
        - type: object
          properties:
            is_active:
              type: boolean
              description: Activation status
              example: 'true'
            add_ons_config:
              description: Additional information about the payway, if required.
              type: object
              example:
                phone:
                  comment:
                    en: Enter your phone number in international format without «+»
                  example: '971510000000'
                  label:
                    en: 'Phone number:'
                  prefix: +
                  regex: ^(91|994|82|372|375|374|44|998|972|66|90|81|1|507|7|77|380|371|370|996|9955|992|373|84)[0-9]{6,14}$
            id:
              type: integer
              example: 78
              description: Payway ID
            fee_part_config:
              $ref: '#/components/schemas/FeePartConfig.v1'
          required:
            - is_active
            - id
            - fee_part_config
            - add_ons_config
    PayMethodInvoice.v1:
      title: Payment method (Invoice)
      allOf:
        - $ref: '#/components/schemas/PayMethod.v1'
        - type: object
          properties:
            payways:
              type: array
              items:
                $ref: '#/components/schemas/PaywayInfoInvoice.v1'
      description: Payment method with payways for input.
    ShopInputConfigResponse.v1:
      oneOf:
        - title: Successful request
          allOf:
            - $ref: '#/components/schemas/ResponseOK.v1'
            - type: object
              properties:
[...]
